<div class="body d-flex justify-content-center align-items-center ">
    <div class="refresh-container">
		<div class="text-center"> 
			<img src="../../../../assets/images/post-man.svg" alt="error-svg" width="60%">
		</div>
        <div class="text-center text">
            <h5> Could not get response</h5>
            <div class="refresh-content mt-3">
                    <div class="hstack gap-3">
                        <div class="ms-auto"> <b>Error: Can't connect to server, check internet connection</b></div>
                        <div class="vr"></div>
                        <div class="">
                            <a class="hover" (click)="navigatePreviousPage()" href="">Refresh</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>